<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>질문게시판</h1>

    <!-- 테이블로 받기 -->
    <table>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>날짜</th>
        </tr>
    {% if question_list %}

        {% for question in question_list %}
        <tr>
            <td>{{question.id}}</td>
            <td>{{question.subject}}</td>
            <td>{{question.creat_date}}</td>
        </tr>
        {% endfor %}

    {% else %}
        <tr>
            <td classs = "msg" colspan="3">등록된 질문이 없습니다.</td>
        </tr>
    {% endif %}
    </table>
    <br><br>

<!-- 리스트로 받기-->

    {% if question_list %}
    <ol>
        {% for question in question_list %}
            <li>{{question.subject}}</li>
        {% endfor %}
    </ol>
    {% else %}
        <p class ="msg">등록된 질문이 없습니다.</p>
    {% endif %}
</body>
</html>